name: Build Wheels

on: push

env:
  CIBW_SKIP: cp27-* cp33-* cp34-* cp35-* *-manylinux_i686

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/checkout@v2

      - name: Install Numpy
        run: python -m pip install numpy setuptools wheel

      - name: Compile Wheel
        run: cd python && python setup.py bdist_wheel

      - uses: actions/upload-artifact@v2
        with:
          path: ./python/dist/*.whl